<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧠 Notion и AI — Меню группы</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/img/brain.png" alt="Мозг" class="brain-img" />
        <h1 class="main-title">
            <span class="main-title-top">Меню группы</span><br>
            <span class="main-title-bottom">NOTION и AI</span>
        </h1>
        <p class="subtitle">Всё для работы, творчества и вдохновения!</p>
        <div class="menu">
            <a class="menu-item" href="https://t.me/c/2288232727/2/4" target="_blank">
                <span class="emoji">#️⃣</span> Основной чат
                <span class="desc">Основные вопросы и общение с участниками группы.</span>
            </a>
            <a class="menu-item" href="https://t.me/c/2288232727/104" target="_blank">
                <span class="emoji">📣</span> Полезные промты
                <span class="desc">Идеи, которые упростят жизнь и ускорят работу!</span>
            </a>
            <a class="menu-item" href="https://t.me/c/2288232727/260" target="_blank">
                <span class="emoji">💼</span> Методы взаимодействия с ИИ
                <span class="desc">Научись грамотно работать с ии!</span>
            </a>
            <a class="menu-item" href="https://t.me/c/2288232727/99" target="_blank">
                <span class="emoji">⚡️</span> Новости по ИИ
                <span class="desc">Будь в курсе самых свежих обновлений!</span>
            </a>
            <a class="menu-item" href="https://t.me/c/2288232727/97" target="_blank">
                <span class="emoji">📚</span> Уроки по ИИ
                <span class="desc">Прокачай свои навыки с нуля до профи!</span>
            </a>
            <a class="menu-item" href="https://eminent-editor-830.notion.site/lessons-notion?pvs=4" target="_blank">
                <span class="emoji">🗳️</span> Уроки по Notion
                <span class="desc">Прокачай свои навыки с нуля до профи в Notion!</span>
            </a>
        </div>
    </div>
</body>
</html> 